In [100]:
# Import the libraries

import pandas as pd                  
import numpy as np

In [101]:
# Import the dataset

dataset = pd.read_csv ('Churn_Modelling.csv' , sep = ',')

In [102]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 14 columns):
RowNumber          10000 non-null int64
CustomerId         10000 non-null int64
Surname            10000 non-null object
CreditScore        10000 non-null int64
Geography          10000 non-null object
Gender             10000 non-null object
Age                10000 non-null int64
Tenure             10000 non-null int64
Balance            10000 non-null float64
NumOfProducts      10000 non-null int64
HasCrCard          10000 non-null int64
IsActiveMember     10000 non-null int64
EstimatedSalary    10000 non-null float64
Exited             10000 non-null int64
dtypes: float64(2), int64(9), object(3)
memory usage: 1.1+ MB

In [103]:
# Check first 20 rows of dataset

dataset.head(20)

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
5,6,15574012,Chu,645,Spain,Male,44,8,113755.78,2,1,0,149756.71,1
6,7,15592531,Bartlett,822,France,Male,50,7,0.00,2,1,1,10062.80,0
7,8,15656148,Obinna,376,Germany,Female,29,4,115046.74,4,1,0,119346.88,1
8,9,15792365,He,501,France,Male,44,4,142051.07,2,0,1,74940.50,0
9,10,15592389,H?,684,France,Male,27,2,134603.88,1,1,1,71725.73,0
10,11,15767821,Bearce,528,France,Male,31,6,102016.72,2,0,0,80181.12,0
11,12,15737173,Andrews,497,Spain,Male,24,3,0.00,2,1,0,76390.01,0
12,13,15632264,Kay,476,France,Female,34,10,0.00,2,1,0,26260.98,0
13,14,15691483,Chin,549,France,Female,25,5,0.00,2,0,0,190857.79,0
14,15,15600882,Scott,635,Spain,Female,35,7,0.00,2,1,1,65951.65,0
15,16,15643966,Goforth,616,Germany,Male,45,3,143129.41,2,0,1,64327.26,0
16,17,15737452,Romeo,653,Germany,Male,58,1,132602.88,1,1,0,5097.67,1
17,18,15788218,Henderson,549,Spain,Female,24,9,0.00,2,1,1,14406.41,0
18,19,15661507,Muldrow,587,Spain,Male,45,6,0.00,1,0,0,158684.81,0
19,20,15568982,Hao,726,France,Female,24,6,0.00,2,1,1,54724.03,0

In [104]:
dataset.describe()

,RowNumber,CustomerId,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
count,10000.00000,1.000000e+04,10000.000000,10000.000000,10000.000000,10000.000000,10000.000000,10000.00000,10000.000000,10000.000000,10000.000000
mean,5000.50000,1.569094e+07,650.528800,38.921800,5.012800,76485.889288,1.530200,0.70550,0.515100,100090.239881,0.203700
std,2886.89568,7.193619e+04,96.653299,10.487806,2.892174,62397.405202,0.581654,0.45584,0.499797,57510.492818,0.402769
min,1.00000,1.556570e+07,350.000000,18.000000,0.000000,0.000000,1.000000,0.00000,0.000000,11.580000,0.000000
25%,2500.75000,1.562853e+07,584.000000,32.000000,3.000000,0.000000,1.000000,0.00000,0.000000,51002.110000,0.000000
50%,5000.50000,1.569074e+07,652.000000,37.000000,5.000000,97198.540000,1.000000,1.00000,1.000000,100193.915000,0.000000
75%,7500.25000,1.575323e+07,718.000000,44.000000,7.000000,127644.240000,2.000000,1.00000,1.000000,149388.247500,0.000000
max,10000.00000,1.581569e+07,850.000000,92.000000,10.000000,250898.090000,4.000000,1.00000,1.000000,199992.480000,1.000000

## kda el details bt3t el customer htkon 
- RowNumber
- CustomerId
- Surname
- CreditScore
- Geography
- Gender
- Age
- Tenure
- Balance
- NumOfProducts
- HasCrCard
- IsActiveMember
- EstimatedSalary

## w el output hikon
- Exited

## laken a7na hnst5dm f el classification 
- CreditScore
- Geography
- Gender
- Age
- Tenure
- Balance
- NumOfProducts
- HasCrCard
- IsActiveMember
- EstimatedSalary
- Exited

In [105]:
X = dataset.iloc[:, 3:13].values
y = dataset.iloc[:, 13].values #el output "column exited"

In [106]:
# Encoding categorical data
from sklearn.preprocessing import LabelEncoder, OneHotEncoder

# Convert Geograph column into scalar values
labelencoder_X_1 = LabelEncoder()
X[:, 1] = labelencoder_X_1.fit_transform(X[:, 1])

# Do same thing in Gender column
labelencoder_X_2 = LabelEncoder()
X[:, 2] = labelencoder_X_2.fit_transform(X[:, 2])

In [107]:
X

array([[619, 0, 0, ..., 1, 1, 101348.88],
       [608, 2, 0, ..., 0, 1, 112542.58],
       [502, 0, 0, ..., 1, 0, 113931.57],
       ...,
       [709, 0, 0, ..., 0, 1, 42085.58],
       [772, 1, 1, ..., 1, 0, 92888.52],
       [792, 0, 0, ..., 1, 0, 38190.78]], dtype=object)

In [108]:
onehotencoder = OneHotEncoder(categorical_features = [1]) #country
X = onehotencoder.fit_transform(X).toarray() 

X = X[:, 1:]

In [109]:
# Splitting the dataset into the training set and test set
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = 0.2, random_state = 0)

In [110]:
# Applying features scaling
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [111]:
X_train

array([[-0.5698444 ,  1.74309049,  0.16958176, ...,  0.64259497,
        -1.03227043,  1.10643166],
       [ 1.75486502, -0.57369368, -2.30455945, ...,  0.64259497,
         0.9687384 , -0.74866447],
       [-0.5698444 , -0.57369368, -1.19119591, ...,  0.64259497,
        -1.03227043,  1.48533467],
       ...,
       [-0.5698444 , -0.57369368,  0.9015152 , ...,  0.64259497,
        -1.03227043,  1.41231994],
       [-0.5698444 ,  1.74309049, -0.62420521, ...,  0.64259497,
         0.9687384 ,  0.84432121],
       [ 1.75486502, -0.57369368, -0.28401079, ...,  0.64259497,
        -1.03227043,  0.32472465]])

In [112]:
# Import the Keras libraries and packages
import keras
from keras.models import Sequential
from keras.layers import Dense

In [113]:
# Initialize the artificial neural network
classifier = Sequential()

# Addi the input layer and the first hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu', input_dim = 11))

# Adding the second hidden layer
classifier.add(Dense(output_dim = 6, init = 'uniform', activation = 'relu'))

# Adding the output layer
classifier.add(Dense(output_dim = 1, init = 'uniform', activation = 'sigmoid'))

# Compiling the artificial neural network
classifier.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", input_dim=11, units=6, kernel_initializer="uniform")`
  """
C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:8: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="relu", units=6, kernel_initializer="uniform")`

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:11: UserWarning: Update your `Dense` call to the Keras 2 API: `Dense(activation="sigmoid", units=1, kernel_initializer="uniform")`
  # This is added back by InteractiveShellApp.init_path()

In [114]:
# Fitting the artificial neural network to the Training set
classifier.fit(X_train, y_train, batch_size = 10, nb_epoch = 100)

C:\Users\lenovo\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: UserWarning: The `nb_epoch` argument in `fit` has been renamed `epochs`.

Epoch 1/100
8000/8000 [==============================] - 7s 916us/step - loss: 0.4869 - acc: 0.7955
Epoch 2/100
8000/8000 [==============================] - 5s 657us/step - loss: 0.4297 - acc: 0.7960 1s -
Epoch 3/100
8000/8000 [==============================] - 5s 623us/step - loss: 0.4246 - acc: 0.7960
Epoch 4/100
8000/8000 [==============================] - ETA: 0s - loss: 0.4206 - acc: 0.817 - 5s 657us/step - loss: 0.4202 - acc: 0.8176
Epoch 5/100
8000/8000 [==============================] - 5s 659us/step - loss: 0.4174 - acc: 0.8262
Epoch 6/100
8000/8000 [==============================] - 5s 663us/step - loss: 0.4150 - acc: 0.8277
Epoch 7/100
8000/8000 [==============================] - 6s 716us/step - loss: 0.4140 - acc: 0.8301
Epoch 8/100
8000/8000 [==============================] - 6s 697us/step - loss: 0.4124 - acc: 0.8302
Epoch 9/100
8000/8000 [==============================] - 6s 701us/step - loss: 0.4111 - acc: 0.8329
Epoch 10/100
8000/8000 [==============================] - 5s 670us/step - loss: 0.4098 - acc: 0.8332
Epoch 11/100
8000/8000 [==============================] - 6s 701us/step - loss: 0.4091 - acc: 0.8346
Epoch 12/100
8000/8000 [==============================] - 6s 701us/step - loss: 0.4083 - acc: 0.8351
Epoch 13/100
8000/8000 [==============================] - 6s 709us/step - loss: 0.4078 - acc: 0.8340
Epoch 14/100
8000/8000 [==============================] - 6s 761us/step - loss: 0.4072 - acc: 0.8325
Epoch 15/100
8000/8000 [==============================] - 7s 820us/step - loss: 0.4065 - acc: 0.8346 5s - loss: 0.3761 - acc:  - ETA: 5s - los - ETA: 5
Epoch 16/100
8000/8000 [==============================] - 6s 706us/step - loss: 0.4060 - acc: 0.8345
Epoch 17/100
8000/8000 [==============================] - 6s 760us/step - loss: 0.4056 - acc: 0.8349
Epoch 18/100
8000/8000 [==============================] - 6s 800us/step - loss: 0.4051 - acc: 0.8334 0s - loss:
Epoch 19/100
8000/8000 [==============================] - 7s 879us/step - loss: 0.4045 - acc: 0.8325
Epoch 20/100
8000/8000 [==============================] - 6s 740us/step - loss: 0.4042 - acc: 0.8349
Epoch 21/100
8000/8000 [==============================] - 6s 779us/step - loss: 0.4040 - acc: 0.8357
Epoch 22/100
8000/8000 [==============================] - 7s 903us/step - loss: 0.4031 - acc: 0.8345
Epoch 23/100
8000/8000 [==============================] - 6s 793us/step - loss: 0.4030 - acc: 0.8337
Epoch 24/100
8000/8000 [==============================] - 7s 841us/step - loss: 0.4027 - acc: 0.8342
Epoch 25/100
8000/8000 [==============================] - 7s 848us/step - loss: 0.4024 - acc: 0.8352 - ETA: 0s - loss: 0.40
Epoch 26/100
8000/8000 [==============================] - 6s 782us/step - loss: 0.4018 - acc: 0.8352 1s - loss: 0 - ETA: 0s - loss: 0.4055 - acc: 0 - ETA: 0s - loss: 0.4027 - acc: 0.83
Epoch 27/100
8000/8000 [==============================] - 6s 753us/step - loss: 0.4024 - acc: 0.8341 0s - loss: 0.4000 - acc: 0
Epoch 28/100
8000/8000 [==============================] - 6s 689us/step - loss: 0.4019 - acc: 0.8349
Epoch 29/100
8000/8000 [==============================] - 6s 747us/step - loss: 0.4020 - acc: 0.8346
Epoch 30/100
8000/8000 [==============================] - 5s 678us/step - loss: 0.4016 - acc: 0.8351
Epoch 31/100
8000/8000 [==============================] - 6s 701us/step - loss: 0.4020 - acc: 0.8351
Epoch 32/100
8000/8000 [==============================] - 5s 663us/step - loss: 0.4020 - acc: 0.8360
Epoch 33/100
8000/8000 [==============================] - 6s 693us/step - loss: 0.4012 - acc: 0.8345
Epoch 34/100
8000/8000 [==============================] - 5s 620us/step - loss: 0.4016 - acc: 0.8359
Epoch 35/100
8000/8000 [==============================] - 5s 645us/step - loss: 0.4016 - acc: 0.8355
Epoch 36/100
8000/8000 [==============================] - 6s 755us/step - loss: 0.4011 - acc: 0.8345
Epoch 37/100
8000/8000 [==============================] - 7s 852us/step - loss: 0.4010 - acc: 0.8336
Epoch 38/100
8000/8000 [==============================] - 7s 828us/step - loss: 0.4014 - acc: 0.8352
Epoch 39/100
8000/8000 [==============================] - 5s 665us/step - loss: 0.4010 - acc: 0.8344
Epoch 40/100
8000/8000 [==============================] - 7s 837us/step - loss: 0.4011 - acc: 0.8345
Epoch 41/100
8000/8000 [==============================] - 8s 1ms/step - loss: 0.4013 - acc: 0.8346
Epoch 42/100
8000/8000 [==============================] - 8s 947us/step - loss: 0.4006 - acc: 0.8346
Epoch 43/100
8000/8000 [==============================] - 11s 1ms/step - loss: 0.4011 - acc: 0.8347: 2
Epoch 44/100
8000/8000 [==============================] - 10s 1ms/step - loss: 0.4010 - acc: 0.8350: 7s - ETA: 1s - l
Epoch 45/100
8000/8000 [==============================] - 10s 1ms/step - loss: 0.4006 - acc: 0.8366: 0s - loss: 0.4014 - acc: 0.83 - ETA: 0s - loss: 0.4008 - acc: 0.837
Epoch 46/100
8000/8000 [==============================] - 12s 1ms/step - loss: 0.4007 - acc: 0.8355: 6s - loss:  - ET
Epoch 47/100
8000/8000 [==============================] - 10s 1ms/step - loss: 0.4002 - acc: 0.8361
Epoch 48/100
8000/8000 [==============================] - 8s 1ms/step - loss: 0.4007 - acc: 0.8344
Epoch 49/100
8000/8000 [==============================] - 7s 908us/step - loss: 0.4003 - acc: 0.8361 4s - loss - ETA: 0s - loss: 0.4007
Epoch 50/100
8000/8000 [==============================] - 8s 946us/step - loss: 0.4002 - acc: 0.8339
Epoch 51/100
8000/8000 [==============================] - 8s 981us/step - loss: 0.4004 - acc: 0.8370
Epoch 52/100
8000/8000 [==============================] - 7s 829us/step - loss: 0.4000 - acc: 0.8351
Epoch 53/100
8000/8000 [==============================] - 7s 851us/step - loss: 0.4001 - acc: 0.8339 1
Epoch 54/100
8000/8000 [==============================] - 9s 1ms/step - loss: 0.4009 - acc: 0.8347
Epoch 55/100
8000/8000 [==============================] - 12s 2ms/step - loss: 0.3996 - acc: 0.8356:
Epoch 56/100
8000/8000 [==============================] - 10s 1ms/step - loss: 0.3998 - acc: 0.8345
Epoch 57/100
8000/8000 [==============================] - 10s 1ms/step - loss: 0.4005 - acc: 0.8345
Epoch 58/100
8000/8000 [==============================] - 9s 1ms/step - loss: 0.4003 - acc: 0.8352
Epoch 59/100
8000/8000 [==============================] - 12s 2ms/step - loss: 0.3999 - acc: 0.8345
Epoch 60/100
8000/8000 [==============================] - 10s 1ms/step - loss: 0.3998 - acc: 0.8349: 4s - loss: 0.4087 - a - ETA: 4s - loss: 0.4083 - acc: 0. - ETA: 4s
Epoch 61/100
8000/8000 [==============================] - 11s 1ms/step - loss: 0.4005 - acc: 0.8350
Epoch 62/100
8000/8000 [==============================] - 10s 1ms/step - loss: 0.3997 - acc: 0.8351
Epoch 63/100
8000/8000 [==============================] - ETA: 0s - loss: 0.3998 - acc: 0.835 - 9s 1ms/step - loss: 0.3998 - acc: 0.8352
Epoch 64/100
8000/8000 [==============================] - 7s 841us/step - loss: 0.3997 - acc: 0.8346
Epoch 65/100
8000/8000 [==============================] - 7s 866us/step - loss: 0.4000 - acc: 0.8349 0s - loss: 0.4002 - a
Epoch 66/100
8000/8000 [==============================] - 8s 945us/step - loss: 0.3992 - acc: 0.8366 3s
Epoch 67/100
8000/8000 [==============================] - 9s 1ms/step - loss: 0.4001 - acc: 0.8351
Epoch 68/100
8000/8000 [==============================] - 7s 881us/step - loss: 0.3998 - acc: 0.8347 6s - loss: 0.3 -
Epoch 69/100
8000/8000 [==============================] - 6s 749us/step - loss: 0.3998 - acc: 0.8351 0s - loss: 0.399
Epoch 70/100
8000/8000 [==============================] - 6s 733us/step - loss: 0.3999 - acc: 0.8350
Epoch 71/100
8000/8000 [==============================] - 6s 745us/step - loss: 0.3998 - acc: 0.8351
Epoch 72/100
8000/8000 [==============================] - 6s 719us/step - loss: 0.3998 - acc: 0.8345
Epoch 73/100
8000/8000 [==============================] - 7s 886us/step - loss: 0.3992 - acc: 0.8356
Epoch 74/100
8000/8000 [==============================] - 6s 746us/step - loss: 0.3998 - acc: 0.8360
Epoch 75/100
8000/8000 [==============================] - 6s 767us/step - loss: 0.3996 - acc: 0.8347
Epoch 76/100

8000/8000 [==============================] - 6s 779us/step - loss: 0.3996 - acc: 0.8374 1s - loss:
Epoch 77/100
8000/8000 [==============================] - 6s 696us/step - loss: 0.3994 - acc: 0.8349
Epoch 78/100
8000/8000 [==============================] - 6s 794us/step - loss: 0.3999 - acc: 0.8350
Epoch 79/100
8000/8000 [==============================] - 7s 836us/step - loss: 0.3994 - acc: 0.8354
Epoch 80/100
8000/8000 [==============================] - 7s 880us/step - loss: 0.3992 - acc: 0.8344 1s - loss: 0.3 - ETA: 1s - loss: 0.
Epoch 81/100
8000/8000 [==============================] - 7s 937us/step - loss: 0.3997 - acc: 0.8352 0s - loss: 0.4024 -
Epoch 82/100
8000/8000 [==============================] - 6s 696us/step - loss: 0.3991 - acc: 0.8359 0s - loss: 0.3973
Epoch 83/100
8000/8000 [==============================] - 6s 794us/step - loss: 0.3997 - acc: 0.8344
Epoch 84/100
8000/8000 [==============================] - 6s 780us/step - loss: 0.3993 - acc: 0.8362
Epoch 85/100
8000/8000 [==============================] - 6s 787us/step - loss: 0.3995 - acc: 0.8345
Epoch 86/100
8000/8000 [==============================] - 8s 1ms/step - loss: 0.3996 - acc: 0.8361A: 0s - loss: 0.4004 - acc: 0
Epoch 87/100
8000/8000 [==============================] - 8s 1ms/step - loss: 0.3993 - acc: 0.8372A: 1s - loss: 0.399
Epoch 88/100
8000/8000 [==============================] - 6s 753us/step - loss: 0.3990 - acc: 0.8362
Epoch 89/100
8000/8000 [==============================] - 5s 665us/step - loss: 0.3992 - acc: 0.8364
Epoch 90/100
8000/8000 [==============================] - 5s 646us/step - loss: 0.3988 - acc: 0.8357
Epoch 91/100
8000/8000 [==============================] - 5s 684us/step - loss: 0.3991 - acc: 0.8367 1s - loss
Epoch 92/100
8000/8000 [==============================] - 6s 718us/step - loss: 0.3995 - acc: 0.8347
Epoch 93/100
8000/8000 [==============================] - 5s 686us/step - loss: 0.3993 - acc: 0.8379
Epoch 94/100
8000/8000 [==============================] - 5s 674us/step - loss: 0.3992 - acc: 0.8357
Epoch 95/100
8000/8000 [==============================] - 5s 674us/step - loss: 0.3995 - acc: 0.8360
Epoch 96/100
8000/8000 [==============================] - 5s 680us/step - loss: 0.3990 - acc: 0.8354
Epoch 97/100
8000/8000 [==============================] - 6s 704us/step - loss: 0.3990 - acc: 0.8359
Epoch 98/100
8000/8000 [==============================] - 5s 668us/step - loss: 0.3993 - acc: 0.8367
Epoch 99/100
8000/8000 [==============================] - 6s 717us/step - loss: 0.3994 - acc: 0.8361
Epoch 100/100
8000/8000 [==============================] - 6s 699us/step - loss: 0.3994 - acc: 0.8346

In [115]:
# Predicting the test set results
y_pred = classifier.predict(X_test)
y_pred = (y_pred > 0.5)

In [116]:
# Making the confusion matrix
from sklearn.metrics import confusion_matrix
cm = confusion_matrix(y_test, y_pred)
cm

array([[1539,   56],
       [ 255,  150]], dtype=int64)

In [117]:
print ('The acc of testing data is',((cm[0][0]+cm[1][1])*100)/(cm[0][0]+cm[1][1]+cm[0][1]+cm[1][0]),'%')

The acc of testing data is 84.45 %